body{
    background-color: #F0EFE8;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    justify-self: center;
}



/* Overview styling: */
#selection-overview {
    display: flex;
    flex-direction: column;
    
    
}
.selection-overview-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.selection-overview-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}

.img-box {
    display: flex;
    flex-direction: column;
    width: 60%;
}

img{
    width: 250px;
}

.info-box {
    display: flex;
    flex-direction: column;
    background-color: #6c3baa;
    color: white;
    justify-content: center;
    width: 40%;
    
    border-radius: 2.4px;
    padding: 20px;
    align-self: flex-end;
    
}
.icon-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.info-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F0EFE8;
}


#filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    margin: 10px;
}

#luchthaven-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.filter-header {
    padding: 0 10px;
    background-color: #6c3baa;
    color: white;
    border-radius: 2.4px;
    width: 100%;
    margin: 10px 0;
}

.filter-button {
    margin-top: 10px;
    background-color: #6C3BAA;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 50px;
    height: 30px;
    
}
