body{
    background-color: #F0EFE8;
}

.hamburgermenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40px;
    height: 50px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 10px;
}


header {
    background-color: #6C3BAA;
    color: white;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.naam {
    width: 400px;
    margin-bottom: -25px;
}

.site-info {
    flex-direction: column;
    margin-bottom: 40px;
    line-height: 20px;
    border: #6C3BAA solid 2px;
    width: 57%;
    font-size: 20px;
    padding: 5px;
    justify-self: center;
}

.opsomming{
    display: flex;
    flex-direction: column;
    line-height: 0px;
    margin-top: -15px;
}

.contact {
    border: #6c3baa solid 1px;
    padding: 10px;
    line-height: 7px;
    flex-direction: column;
    display: flex;
    justify-self: flex-start;
    margin-top: -5px;
    width: 380px;
    border-radius: 10px;
    background-color: #F0EFE8;
}

.afspraak{
    border: #6c3baa solid 1px;
    padding: 10px;
    line-height: 7px;
    flex-direction: column;
    display: flex;
    justify-self: flex-start;
    margin-top: -5px;
    width: 380px;
    border-radius: 10px;
    background-color: #F0EFE8;
}

.klacht{
    border: #6c3baa solid 1px;
    padding: 10px;
    line-height: 7px;
    flex-direction: column;
    display: flex;
    justify-self: flex-start;
    margin-top: -5px;
    width: 380px;
    border-radius: 10px;
    background-color: #F0EFE8;
}

.vraag{
    border: #6c3baa solid 1px;
    padding: 10px;
    line-height: 7px;
    flex-direction: column;
    display: flex;
    justify-self: flex-start;
    margin-top: -5px;
    width: 380px;
    border-radius: 10px;
    background-color: #F0EFE8;
}

.footer{
    background-color: #6C3BAA;
    margin-top: 50px;
    border: #6C3BAA solid 2px;
    height: 210px;
    padding: 10px;
    align-content: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    justify-self: center;
    justify-content: center;
}

.vakje{
    width: 200px;
    height: 35px;
    background-color: #6C3BAA;
    color: white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    margin: 10px;
}

#luchthaven-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.filter-header {
    padding-left: 10px;
    background-color: #6c3baa;
    color: white;
    border-radius: 2.4px;
}


.mail{
    width: 550px;
    height: 30px;
}

.beschrijving{
    width: 550px;
    height: 100px;
}

.send{
    width: 90px;
    height: 35px;
    background-color: #6c3baa;
    color: white;
}
.telefoonnummer{
    border: #6c3baa solid 1px;
    padding: 10px;
    line-height: 7px;
    flex-direction: row-reverse;
    display: flex;
    justify-self: flex-start;
    margin-top: -5px;
    width: 380px;
}

.nummer{
    width: 150px;
    height: 30px;
    font-size:16px;
    margin-top: 10px;
}

.informatie-bellen{
    line-height: 10px;
}

.contact-footer{
    margin-top: 50px;
    border: #6C3BAA solid 2px;
    height: 200px;
    padding: 10px;
    align-content: center;
    display: flex;
    flex-direction: column;
}